# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
.idea
out
*.ipr
*.iws
*.iml

# gradle
build
.gradle

# other
/runtime/
eclipse
run
*.bak

# Files from Forge MDK
forge*changelog.txt

# version files
/HeadlessMC/
/logs/
/plugins/